 /* GENEL */
    body {
        background-color: #fff;
    }
    .product-item {
        display: inline-block; /* Trie ile filtrelenmeden önce hepsi görünür olmalı */
    }

    /* LOGO VE MENÜLER */
    .topMenu {
        background-color: #3498db;
        width: 100%;
        height: 100px;
        position: absolute;
        left: 0px;
        top: 0px;
    }

    .butonefe{
        cursor: pointer;
        background-color: transparent;
        border: none;
    }

    .topMenu p {
        font-family: "open sans", sans-serif;
        font-weight: 500;
        position: absolute;
        cursor: default;
        left: 30px;
        filter: drop-shadow(1px 1px 1px black);
    }
    .logoYalova {
        color: #012d4a;
        font-size: 45px;
        top: -50px;
        cursor: pointer;
    }
    .logoMarket {
        color: #3a182c;
        font-size: 55px;
        bottom: -50px;
        cursor: pointer;
    }

    /* Üst Menü Butonları */
    .topMenu button {
        background-color: #fff;
        color: #3498db;
        border: none;
        border-radius: 30px;
        padding: 10px;
        font-size: 15px;
        cursor: pointer;
        margin-right: 20px;
        margin-top: 30px;
    }
    .topMenu button:hover {
        background-color: #e4e4e4;
    }
    #girisYapButton {
        margin-left: 85%;
    }

    /* İkinci Üst Menü (Arama) */
    .topMenuSecond {
        background-color: #fff;
        filter: drop-shadow(0px 0px 1px black);
        width: 100%;
        height: 60px;
        position: absolute;
        left: 0px;
        top: 100px;
    }
    .topMenuSecond input {
        width: 400px;
        background-color: #fff;
        border-radius: 30px;
        border: grey solid 1px;
        height: 30px;
        margin-left: 37%;
        margin-top: 10px;
        text-align: center;
        font-family: "open sans", sans-serif;
    }
    .topMenuSecond input::placeholder {
        font-family: "open sans", sans-serif;
        text-align: center;
    }
    #buyutecImage {
        object-fit: cover;
        width: 20px;
        position: absolute;
        right: 37%;
        top: 26%;
        cursor: text;
        opacity: 1;
    }

    #sepet {
        position: absolute;
        object-fit: cover;
        width: 50px;
        right: 30px;
        top: 5px;
        cursor: pointer;
        transition: all ease 0.3s;
    }

    #sepet:hover {
        width: 53px;
        filter: drop-shadow(1px 1px 1px black);
    }

    /* ÜRÜN KUTUSU VE ÖĞELERİ */
    .productMenu {
        background-color: #3498db;
        filter: drop-shadow(1px 1px 10px black);
        border-radius: 30px;
        width: 90%;
        height: 65%;
        position: absolute;
        left: 5%;
        top: 200px;
        padding-top: 30px; /* Üstteki boşluğu düzeltmek için */
        text-align: center; /* Ürünleri ortalamak için */
    }

    .product-item { /* .productMenu div yerine .product-item kullandım */
        background-color: rgb(226, 226, 226);
        border-radius: 30px;
        width: 150px;
        height: 200px;
        margin: 0 20px 30px 20px; /* Kenar boşlukları */
        filter: drop-shadow(0.5px 0.5px 1px black);
        cursor: pointer;
        position: relative; /* İçindeki p ve img için konumlandırma */
        overflow: hidden;
    }

    .product-item p { /* .productMenu div p yerine */
        font-family: "open sans", sans-serif;
        font-size: 15px;
        text-align: center;
        font-weight: 500;
        position: absolute;
        bottom: 10px;
        width: 100%;
    }
    
    .product-item img { /* .productMenu div img yerine */
        transition: all ease 0.2s;
        position: absolute;
        display: block;
        margin: auto;
    }
    .product-item:hover img {
        filter: drop-shadow(1px 1px 1px black);
    }

    /* ÜRÜN RESMİ POZİSYONLARI */
    .ulkerCikolata { top: -10px; left: -6px; height: 80%; }
    .halley { top: 10px; left: 6px; width: 90%; }
    .rondo { top: -5px; left: -29px; height: 80%; }
    .etiBurcak { top: 30px; left: 7px; width: 90%; }
    .etiPuf { top: 30px; left: 10px; width: 90%; }
    .luppo { top: 10px; left: 7px; width: 90%; }
    .mood { top: 10px; left: 25px; width: 70%; }
    .bar { top: 50px; left: 15px; width: 80%; }
    .toz { top: 20px; left: 15px; width: 80%; }
    .torku { top: 50px; left: 15px; width: 80%; }

    /* ÜRÜN YAZI POZİSYONLARI */
    .product-name { /* Tüm ürün yazıları için ortak stil */
        bottom: 10px !important;
        left: 0;
        right: 0;
        margin: 0 auto;
    }
    /* Özelleşmiş yazı pozisyonları (çoğu artık gerekli değil ama eski kodunuzdan korundu) */
    .halleyYazi { left: 30px; }
    .etiBurcakYazi, .etiPufYazi, .moodYazi, .luppoYazi, .barYazi, .tozYazi, .torkuYazi {
        /* Bu sınıflar artık product-name sınıfının altındaki genel stile uyduğu için 
           çoğu pozisyon farkı kaldırıldı veya product-name ile birleştirildi. */
    }


    /* EN ALT MENÜ */
    .enAltMenu {
        width: 100%;
        height: 100px;
        background-color: #3498db;
        filter: drop-shadow(0px 0px 1px black);
        position: absolute;
        left: 0px;
        bottom: -100px;
        z-index: 100;
    }
    .enAltMenu p {
        font-family: "open sans", sans-serif;
        font-weight: 500;
        margin-left: 50px;
        color: #fff;
        filter: drop-shadow(1px 1px 1px black);
        cursor: default;
    }
    .projeYazi {
        position: absolute;
        right: 10px;
        top: 20px;
        margin-left: 0 !important;
    }

    /* SEPET */

    #sepetKutusu{
        width: 200px;
        height: 300px;
        background-color: #fff;
        border-radius: 30px;
        border: 2px solid black;
        position: absolute;
        right: 50px;
        top: 200px;
        z-index: 1000;
        display: none;
    }

    .sepetButon{
        background-color: transparent;
        border: none;
    }

    #ürünler {
        font-family: "open sans", sans-serif;
        margin-left: 20px;
        margin-top: 30px;
    }

    #silButonu{
        border: 1px solid black;
        padding-left: 10px;
        padding-right: 10px;
        font-family: "open sans",sans-serif;
        border-radius: 30px;
        cursor: pointer;    
        position: absolute;
        bottom: 10px;
        left: 50px;
        transition: all ease 0.2s;
    }

    #silButonu:hover {
        background-color: grey;
    }